.div {
  color: white;
  background-color: dodgerblue;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-left: 400px;
}